# Imports

In [9]:
import numpy as np
import pandas as pd

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

# Read Datasets

In [12]:
historical_results = pd.read_csv('https://raw.githubusercontent.com/rafabandoni/world-cup-22-predict/main/data/historical-results.csv')
historical_results.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [14]:
historical_results = historical_results.replace('United States','USA', regex=True) # changing for pattern

In [15]:
historical_win_loose_draw_ratios = pd.read_csv('https://raw.githubusercontent.com/rafabandoni/world-cup-22-predict/main/data/historical_win-loose-draw_ratios.csv')
historical_win_loose_draw_ratios.head(5)

    country1   country2  games      wins    looses     draws
0  Argentina  Australia      7  0.714286  0.142857  0.142857
1  Australia  Argentina      7  0.142857  0.714286  0.142857
2  Argentina    Belgium      4  0.750000  0.250000  0.000000
3    Belgium  Argentina      4  0.250000  0.750000  0.000000
4  Argentina     Brazil    108  0.361111  0.398148  0.240741

In [17]:
ranking = pd.read_csv('https://raw.githubusercontent.com/rafabandoni/world-cup-22-predict/main/data/ranking.csv')
ranking.head(5)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

In [19]:
shootouts = pd.read_csv('https://raw.githubusercontent.com/rafabandoni/world-cup-22-predict/main/data/shootouts.csv')
shootouts.head(5)

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       Taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea
2  1972-05-17     Thailand       South Korea  South Korea
3  1972-05-19     Thailand          Cambodia     Thailand
4  1973-04-21      Senegal             Ghana        Ghana

# Historical Results

In [21]:
historical_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [22]:
historical_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44060 entries, 0 to 44059
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44060 non-null  object
 1   home_team   44060 non-null  object
 2   away_team   44060 non-null  object
 3   home_score  44059 non-null  float64
 4   away_score  44059 non-null  float64
 5   tournament  44060 non-null  object
 6   city        44060 non-null  object
 7   country     44060 non-null  object
 8   neutral     44060 non-null  bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.7+ MB

Top 10 tournaments on database:

In [23]:
historical_results.groupby('tournament').count().sort_values('date', ascending=False)['date'].head(10)

tournament
Friendly                                17425
FIFA World Cup qualification             7774
UEFA Euro qualification                  2593
African Cup of Nations qualification     1932
FIFA World Cup                            900
Copa América                              841
AFC Asian Cup qualification               764
African Cup of Nations                    742
CECAFA Cup                                620
CFU Caribbean Cup qualification           606
Name: date, dtype: int64

In [24]:
historical_results_world_cup = historical_results.query('tournament == "FIFA World Cup"').sort_values('date').reset_index(drop=True)
historical_results_world_cup.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1930-07-13,Belgium,USA,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True
2,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True
3,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
4,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True
5,1930-07-16,Chile,Mexico,3.0,0.0,FIFA World Cup,Montevideo,Uruguay,True
6,1930-07-17,Bolivia,Yugoslavia,0.0,4.0,FIFA World Cup,Montevideo,Uruguay,True
7,1930-07-17,Paraguay,USA,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
8,1930-07-18,Uruguay,Peru,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,False
9,1930-07-19,Argentina,Mexico,6.0,3.0,FIFA World Cup,Montevideo,Uruguay,True

Identifying finals

In [25]:
historical_results_world_cup['is_final'] = ''

for i in range(len(historical_results_world_cup['date'])):
  if i < 899 and historical_results_world_cup[i:i+1]['date'].astype(str).str[:4][i] != historical_results_world_cup[i+1:i+2]['date'].astype(str).str[:4][i+1]:
    historical_results_world_cup['is_final'][i] = 'TRUE'
  elif i < 899:
    historical_results_world_cup['is_final'][i] = 'FALSE'
  elif i == 899:
    historical_results_world_cup['is_final'][i] = 'TRUE'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [26]:
historical_results_world_cup.query('is_final == "TRUE"')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,is_final
17,1930-07-30,Uruguay,Argentina,4.0,2.0,FIFA World Cup,Montevideo,Uruguay,False,TRUE
34,1934-06-10,Italy,Czechoslovakia,2.0,1.0,FIFA World Cup,Rome,Italy,False,TRUE
52,1938-06-19,Hungary,Italy,2.0,4.0,FIFA World Cup,Colombes,France,True,TRUE
74,1950-07-16,Spain,Sweden,1.0,3.0,FIFA World Cup,São Paulo,Brazil,True,TRUE
100,1954-07-04,Germany,Hungary,3.0,2.0,FIFA World Cup,Berne,Switzerland,True,TRUE
135,1958-06-29,Sweden,Brazil,2.0,5.0,FIFA World Cup,Solna,Sweden,False,TRUE
167,1962-06-17,Brazil,Czechoslovakia,3.0,1.0,FIFA World Cup,Santiago,Chile,True,TRUE
199,1966-07-30,England,Germany,4.0,2.0,FIFA World Cup,London,England,False,TRUE
231,1970-06-21,Brazil,Italy,4.0,1.0,FIFA World Cup,Mexico City,Mexico,True,TRUE
269,1974-07-07,Germany,Netherlands,2.0,1.0,FIFA World Cup,Munich,Germany,False,TRUE
307,1978-06-25,Argentina,Netherlands,3.0,1.0,FIFA World Cup,Buenos Aires,Argentina,False,TRUE
359,1982-07-11,Italy,Germany,3.0,1.0,FIFA World Cup,Madrid,Spain,True,TRUE
411,1986-06-29,Argentina,Germany,3.0,2.0,FIFA World Cup,Mexico City,Mexico,True,TRUE
463,1990-07-08,Germany,Argentina,1.0,0.0,FIFA World Cup,Rome,Italy,True,TRUE
515,1994-07-17,Brazil,Italy,0.0,0.0,FIFA World Cup,Pasadena,USA,True,TRUE
579,1998-07-12,France,Brazil,3.0,0.0,FIFA World Cup,Saint-Denis,France,False,TRUE
643,2002-06-30,Germany,Brazil,0.0,2.0,FIFA World Cup,Yokohama,Japan,True,TRUE
707,2006-07-09,Italy,France,1.0,1.0,FIFA World Cup,Berlin,Germany,True,TRUE
771,2010-07-11,Netherlands,Spain,0.0,1.0,FIFA World Cup,Johannesburg,South Africa,True,TRUE
835,2014-07-13,Germany,Argentina,1.0,0.0,FIFA World Cup,Rio de Janeiro,Brazil,True,TRUE
899,2018-07-15,France,Croatia,4.0,2.0,FIFA World Cup,Moscow,Russia,True,TRUE

In [27]:
historical_results_world_cup['date'] = historical_results_world_cup['date'].astype('datetime64')

# Historical Results with possibily to win

Addying winner

In [28]:
historical_results_world_cup['winner'] = ''

for i in range(len(historical_results_world_cup['date'])):
  if historical_results_world_cup['home_score'][i] > historical_results_world_cup['away_score'][i]:
    historical_results_world_cup['winner'][i] = 'home_win'
  elif historical_results_world_cup['home_score'][i] < historical_results_world_cup['away_score'][i]:
    historical_results_world_cup['winner'][i] = 'away_win'
  else:
    historical_results_world_cup['winner'][i] = 'draw'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [29]:
historical_results_world_cup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,is_final,winner
0,1930-07-13,Belgium,USA,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win
1,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win
2,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win
3,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win
4,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win
...,...,...,...,...,...,...,...,...,...,...,...
895,2018-07-07,Russia,Croatia,2.0,2.0,FIFA World Cup,Sochi,Russia,False,FALSE,draw
896,2018-07-10,France,Belgium,1.0,0.0,FIFA World Cup,Saint Petersburg,Russia,True,FALSE,home_win
897,2018-07-11,Croatia,England,2.0,1.0,FIFA World Cup,Moscow,Russia,True,FALSE,home_win
898,2018-07-14,Belgium,England,2.0,0.0,FIFA World Cup,Saint Petersburg,Russia,True,FALSE,home_win
899,2018-07-15,France,Croatia,4.0,2.0,FIFA World Cup,Moscow,Russia,True,TRUE,home_win

In [30]:
historical_results_world_cup = historical_results_world_cup.merge(historical_win_loose_draw_ratios, left_on=['home_team', 'away_team'], right_on=['country1', 'country2'], how='left').rename(columns={
    'wins' : 'home_wins',
    'looses' : 'home_looses'
})[['date', 'home_team', 'away_team', 'home_score', 'away_score', 'tournament', 'city', 'country', 'neutral', 'is_final', 'winner', 'games', 'home_wins', 'home_looses', 'draws']]

In [31]:
historical_results_world_cup = historical_results_world_cup.replace(np.nan, 0) # adding for teams that never played before

In [32]:
historical_results_world_cup.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,is_final,winner,games,home_wins,home_looses,draws
0,1930-07-13,Belgium,USA,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000
1,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win,7.0,0.714286,0.142857,0.142857
2,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000
3,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000
4,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win,12.0,0.500000,0.250000,0.250000

# Historical result with ranking on date

Checking data

In [33]:
ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63916 entries, 0 to 63915
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             63916 non-null  int64
 1   country_full     63916 non-null  object
 2   country_abrv     63916 non-null  object
 3   total_points     63916 non-null  float64
 4   previous_points  63916 non-null  float64
 5   rank_change      63916 non-null  int64
 6   confederation    63916 non-null  object
 7   rank_date        63916 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.9+ MB

In [34]:
ranking['country_full'].unique()

array(['Germany', 'Syria', 'Burkina Faso', 'Latvia', 'Burundi', 'Togo',
       'Angola', 'Suriname', 'Luxembourg',
       'St. Vincent and the Grenadines', 'Fiji', 'Mozambique',
       'Indonesia', 'Antigua and Barbuda', 'Jordan', 'Eswatini',
       'Faroe Islands', 'Lithuania', 'Uganda', 'Korea DPR', 'Peru',
       'Sierra Leone', 'Tanzania', 'Niger', 'Iraq', 'Guatemala',
       'Liberia', 'Ethiopia', 'Albania', 'Bolivia', 'Bahrain',
       'Singapore', 'Congo', 'Malaysia', 'Sudan', 'Croatia', 'Barbados',
       'Yemen', 'Cape Verde Islands', 'Solomon Islands', 'Libya',
       'Botswana', 'Brunei Darussalam', 'Dominican Republic', 'Lesotho',
       'India', 'Cuba', 'Pakistan', 'Belarus', 'Seychelles',
       'Central African Republic', 'Nepal', 'Gambia', 'Mauritania',
       'Kenya', 'Bangladesh', 'Slovenia', 'Oman', 'Guinea-Bissau',
       'St. Lucia', 'Hong Kong', 'Panama', 'Grenada', 'Puerto Rico',
       'Tahiti', 'South Africa', 'Venezuela', 'San Marino', 'Benin',
       'Guyana', 'Ukraine', 'Haiti', 'Estonia', 'Thailand', 'Mauritius',
       'Malta', 'Egypt', 'Cameroon', 'Scotland', 'USA', 'Mexico',
       'Bulgaria', "Côte d'Ivoire", 'Wales', 'Yugoslavia', 'Algeria',
       'Greece', 'Zambia', 'Portugal', 'Austria', 'Colombia', 'France',
       'Hungary', 'Czechoslovakia', 'Uruguay', 'Madagascar', 'Italy',
       'Brazil', 'Sweden', 'England', 'Republic of Ireland',
       'Netherlands', 'Russia', 'Denmark', 'Argentina', 'Romania',
       'Switzerland', 'Nigeria', 'Norway', 'Spain', 'Belgium',
       'Costa Rica', 'Poland', 'Cyprus', 'Canada', 'Bermuda',
       'United Arab Emirates', 'Zaire', 'IR Iran', 'Guinea', 'Israel',
       'Ecuador', 'Japan', 'Jamaica', 'Paraguay', 'Mali', 'New Zealand',
       'Kuwait', 'Tunisia', 'China PR', 'Gabon', 'Trinidad and Tobago',
       'Ghana', 'Zimbabwe', 'Honduras', 'Morocco', 'Turkey',
       'Northern Ireland', 'Australia', 'Iceland', 'Finland',
       'Saudi Arabia', 'Korea Republic', 'El Salvador', 'Senegal',
       'Qatar', 'Malawi', 'Chile', 'Myanmar', 'Lebanon', 'Laos',
       'Nicaragua', 'Vietnam', 'Slovakia', 'Cayman Islands', 'Maldives',
       'Sri Lanka', 'Czech Republic', 'Georgia', 'Liechtenstein',
       'Moldova', 'FYR Macedonia', 'Armenia', 'Namibia', 'Azerbaijan',
       'Uzbekistan', 'Turkmenistan', 'Kyrgyz Republic', 'Kazakhstan',
       'Tajikistan', 'Somalia', 'St. Kitts and Nevis', 'Dominica',
       'Aruba', 'Belize', 'Rwanda', 'Philippines', 'Macau',
       'Bosnia and Herzegovina', 'Chinese Taipei', 'Papua New Guinea',
       'Vanuatu', 'Tonga', 'Samoa', 'Cambodia', 'British Virgin Islands',
       'Andorra', 'Chad', 'Sao Tome e Principe', 'Equatorial Guinea',
       'Djibouti', 'Cook Islands', 'American Samoa', 'Eritrea',
       'Palestine', 'Mongolia', 'Guam', 'Anguilla', 'Montserrat',
       'Bahamas', 'US Virgin Islands', 'Turks and Caicos Islands',
       'Congo DR', 'Bhutan', 'Serbia and Montenegro', 'Afghanistan',
       'New Caledonia', 'Serbia', 'Comoros', 'Swaziland',
       'St. Vincent / Grenadines', 'Netherlands Antilles', 'Montenegro',
       'Timor-Leste', 'North Macedonia', 'Curacao', 'South Sudan',
       'Kosovo', 'São Tomé e Príncipe', 'Curaçao', 'Gibraltar',
       'São Tomé and Príncipe', 'Cabo Verde', 'Türkiye'], dtype=object)

Adding home rank

In [35]:
historical_results_world_cup = historical_results_world_cup.merge(ranking, left_on=[historical_results_world_cup['date'].astype(str).str[:7], 'home_team'],
                                            right_on=[ranking['rank_date'].str[:7], 'country_full'],
                                            how='left').rename(columns={
                                                'rank' : 'home_rank',
                                                'total_points' : 'home_ranking_points'
})[['date', 'home_team', 'away_team', 'home_score', 'away_score',
    'tournament', 'city', 'country', 'neutral', 'is_final', 'winner',
    'games', 'home_wins', 'home_looses', 'draws', 'home_rank', 'home_ranking_points']]

Adding away rank

In [36]:
historical_results_world_cup = historical_results_world_cup.merge(ranking, left_on=[historical_results_world_cup['date'].astype(str).str[:7], 'away_team'],
                                            right_on=[ranking['rank_date'].str[:7], 'country_full'],
                                            how='left').rename(columns={
                                                'rank' : 'away_rank',
                                                'total_points' : 'away_ranking_points'
})[['date', 'home_team', 'away_team', 'home_score', 'away_score',
    'tournament', 'city', 'country', 'neutral', 'is_final', 'winner',
    'games', 'home_wins', 'home_looses', 'draws', 'home_rank', 'home_ranking_points',
    'away_rank', 'away_ranking_points']]

# Final historical dataset

In [37]:
historical_results_world_cup = historical_results_world_cup.replace(np.nan, 0) # replacing null ranks
historical_results_world_cup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,is_final,winner,games,home_wins,home_looses,draws,home_rank,home_ranking_points,away_rank,away_ranking_points
0,1930-07-13,Belgium,USA,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win,7.0,0.714286,0.142857,0.142857,0.0,0.0,0.0,0.0
2,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,away_win,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True,FALSE,home_win,12.0,0.500000,0.250000,0.250000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2018-07-07,Russia,Croatia,2.0,2.0,FIFA World Cup,Sochi,Russia,False,FALSE,draw,0.0,0.000000,0.000000,0.000000,49.0,1758.0,12.0,2036.0
896,2018-07-10,France,Belgium,1.0,0.0,FIFA World Cup,Saint Petersburg,Russia,True,FALSE,home_win,75.0,0.346667,0.400000,0.253333,2.0,2164.0,5.0,2124.0
897,2018-07-11,Croatia,England,2.0,1.0,FIFA World Cup,Moscow,Russia,True,FALSE,home_win,11.0,0.272727,0.545455,0.181818,12.0,2036.0,7.0,2099.0
898,2018-07-14,Belgium,England,2.0,0.0,FIFA World Cup,Saint Petersburg,Russia,True,FALSE,home_win,26.0,0.153846,0.653846,0.192308,5.0,2124.0,7.0,2099.0
899,2018-07-15,France,Croatia,4.0,2.0,FIFA World Cup,Moscow,Russia,True,TRUE,home_win,10.0,0.600000,0.100000,0.300000,2.0,2164.0,12.0,2036.0

In [38]:
historical_results_world_cup['home_rank'] = historical_results_world_cup['home_rank'].astype('float64')
historical_results_world_cup['home_ranking_points'] = historical_results_world_cup['home_ranking_points'].astype('float64')
historical_results_world_cup['away_rank'] = historical_results_world_cup['away_rank'].astype('float64')
historical_results_world_cup['away_ranking_points'] = historical_results_world_cup['away_ranking_points'].astype('float64')

In [39]:
historical_results_world_cup.corr()

,home_score,away_score,neutral,games,home_wins,home_looses,draws,home_rank,home_ranking_points,away_rank,away_ranking_points
home_score,1.000000,-0.055842,-0.079319,0.022959,0.138142,-0.132751,-0.046010,-0.069305,-0.064221,0.034068,-0.102018
away_score,-0.055842,1.000000,0.090099,-0.019433,-0.136194,0.094234,-0.058265,0.050285,0.004528,-0.050946,0.037850
neutral,-0.079319,0.090099,1.000000,-0.071665,-0.040462,0.022078,-0.009058,-0.020909,0.033924,0.034224,0.024170
games,0.022959,-0.019433,-0.071665,1.000000,0.364310,0.358666,0.405170,-0.052180,0.043702,-0.061593,0.045578
home_wins,0.138142,-0.136194,-0.040462,0.364310,1.000000,0.235928,0.414110,-0.071595,0.123191,0.074035,0.083405
home_looses,-0.132751,0.094234,0.022078,0.358666,0.235928,1.000000,0.412383,0.081047,0.134480,0.043277,0.199022
draws,-0.046010,-0.058265,-0.009058,0.405170,0.414110,0.412383,1.000000,0.005018,0.181988,0.005260,0.164009
home_rank,-0.069305,0.050285,-0.020909,-0.052180,-0.071595,0.081047,0.005018,1.000000,0.389807,0.475894,0.482736
home_ranking_points,-0.064221,0.004528,0.033924,0.043702,0.123191,0.134480,0.181988,0.389807,1.000000,0.500292,0.910891
away_rank,0.034068,-0.050946,0.034224,-0.061593,0.074035,0.043277,0.005260,0.475894,0.500292,1.000000,0.414300
away_ranking_points,-0.102018,0.037850,0.024170,0.045578,0.083405,0.199022,0.164009,0.482736,0.910891,0.414300,1.000000

# Algoritmo

One hot encoding

In [40]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(historical_results_world_cup)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,home_wins,home_looses,draws,home_rank,home_ranking_points,away_rank,away_ranking_points,home_team_Algeria,home_team_Angola,home_team_Argentina,...,country_Spain,country_Sweden,country_Switzerland,country_USA,country_Uruguay,is_final_FALSE,is_final_TRUE,winner_away_win,winner_draw,winner_home_win
0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
1,0.714286,0.142857,0.142857,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
2,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
3,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
4,0.500000,0.250000,0.250000,0.0,0.0,0.0,0.0,0,0,1,...,0,0,0,0,1,1,0,0,0,1

Assigning label (what we want to predict) and converting to numpy

In [41]:
# Labels are the values we want to predict
train_labels = np.array(features.query('date < 2018')['home_score'])

# Remove the labels from the features
# axis 1 refers to the columns
train_features = features.query('date < 2018').drop('home_score', axis = 1).drop('date', axis = 1)
# Convert to numpy array
train_features = np.array(train_features)

In [42]:
test_labels = np.array(features.query('date >= 2018')['home_score'])
test_features = features.query('date >= 2018').drop('home_score', axis = 1).drop('date', axis = 1)
test_features = np.array(test_features)

Train and test split

In [43]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (836, 351)
Training Labels Shape: (836,)
Testing Features Shape: (64, 351)
Testing Labels Shape: (64,)

Establishing a baseline error

In [44]:
# # The baseline predictions are the historical averages
# baseline_preds = test_features[:, feature_list.index('average')]
# # Baseline errors, and display average baseline error
# baseline_errors = abs(baseline_preds - test_labels)
# print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Predicting

In [45]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [46]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.54 degrees.

In [47]:
predictions.round(0)

array([3., 0., 0., 3., 1., 0., 1., 2., 0., 0., 1., 2., 1., 1., 1., 1., 2.,
       2., 3., 0., 1., 1., 3., 2., 1., 1., 3., 1., 2., 2., 2., 1., 1., 2.,
       2., 1., 1., 0., 1., 1., 2., 1., 1., 2., 1., 0., 0., 0., 6., 2., 1.,
       1., 3., 3., 2., 1., 1., 1., 1., 2., 2., 2., 2., 3.])

In [48]:
df_predict_test = pd.merge(pd.DataFrame(predictions.round(0)), pd.DataFrame(test_labels), left_index=True, right_index=True).rename(columns={'0_x' : 'predicts', '0_y' : 'reality'})
df_predict_test['is_correct'] = df_predict_test['predicts'] - df_predict_test['reality']

df_predict_test.head(10)

   predicts  reality  is_correct
0       3.0      5.0        -2.0
1       0.0      0.0         0.0
2       0.0      0.0         0.0
3       3.0      3.0         0.0
4       1.0      2.0        -1.0
5       0.0      0.0         0.0
6       1.0      1.0         0.0
7       2.0      2.0         0.0
8       0.0      0.0         0.0
9       0.0      0.0         0.0

In [49]:
predict_right = ((df_predict_test['reality'].count() - df_predict_test.query('is_correct != 0')['is_correct'].count()) / df_predict_test['reality'].count() * 100).round(2)

print(f"The algorithm predicted right: {predict_right}% of the values")

The algorithm predicted right: 62.5% of the values

# 2022 calendar

In [50]:
matches_schedule = pd.read_csv('https://raw.githubusercontent.com/rafabandoni/world-cup-22-predict/main/data/matches-schedule.csv')
matches_schedule

    match        date      country1      country2          phase
0       1  21/11/2022         Qatar       Ecuador  group matches
1       2  21/11/2022       Senegal   Netherlands  group matches
2       3  21/11/2022       England          Iran  group matches
3       4  21/11/2022           USA         Wales  group matches
4       5  22/11/2022        France     Australia  group matches
5       6  22/11/2022       Denmark       Tunisia  group matches
6       7  22/11/2022        Mexico        Poland  group matches
7       8  22/11/2022     Argentina  Saudi Arabia  group matches
8       9  23/11/2022       Belgium        Canada  group matches
9      10  23/11/2022         Spain    Costa Rica  group matches
10     11  23/11/2022       Germany         Japan  group matches
11     12  23/11/2022       Morocco       Croatia  group matches
12     13  24/11/2022   Switzerland      Cameroon  group matches
13     14  24/11/2022       Uruguay   South Korea  group matches
14     15  24/11/2022      Portugal         Ghana  group matches
15     16  24/11/2022        Brazil        Serbia  group matches
16     17  25/11/2022         Wales          Iran  group matches
17     18  25/11/2022         Qatar       Senegal  group matches
18     19  25/11/2022   Netherlands       Ecuador  group matches
19     20  25/11/2022       England           USA  group matches
20     21  26/11/2022       Tunisia     Australia  group matches
21     22  26/11/2022        Poland  Saudi Arabia  group matches
22     23  26/11/2022        France       Denmark  group matches
23     24  26/11/2022     Argentina        Mexico  group matches
24     25  27/11/2022         Japan    Costa Rica  group matches
25     26  27/11/2022       Belgium       Morocco  group matches
26     27  27/11/2022       Croatia        Canada  group matches
27     28  27/11/2022         Spain       Germany  group matches
28     29  28/11/2022      Cameroon        Serbia  group matches
29     30  28/11/2022   South Korea         Ghana  group matches
30     31  28/11/2022        Brazil   Switzerland  group matches
31     32  28/11/2022      Portugal       Uruguay  group matches
32     33  29/11/2022         Wales       England  group matches
33     34  29/11/2022          Iran           USA  group matches
34     35  29/11/2022       Ecuador       Senegal  group matches
35     36  29/11/2022   Netherlands         Qatar  group matches
36     37  30/11/2022     Australia       Denmark  group matches
37     38  30/11/2022       Tunisia        France  group matches
38     39  30/11/2022        Poland     Argentina  group matches
39     40  30/11/2022  Saudi Arabia        Mexico  group matches
40     41  01/12/2022       Croatia       Belgium  group matches
41     42  01/12/2022        Canada       Morocco  group matches
42     43  01/12/2022         Japan         Spain  group matches
43     44  01/12/2022    Costa Rica       Germany  group matches
44     45  02/12/2022         Ghana       Uruguay  group matches
45     46  02/12/2022   South Korea      Portugal  group matches
46     47  02/12/2022        Serbia   Switzerland  group matches
47     48  02/12/2022      Cameroon        Brazil  group matches